<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saverio.finapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FINApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.firstrun.FirstRunActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.messages.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.statistics.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.statistics.AllSimulations"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.ResultsSimulationQuizActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.quiz.MistakesQuizActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleInstancePerTask" />
        <activity
            android:name=".ui.quiz.SimulationQuizActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.quiz.QuestionsQuizActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleInstancePerTask" />
        <activity
            android:name=".ui.theory.AllSectionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theory.SectionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notification.NotificationReceiver" />
    </application>

</manifest>